body {
  padding: 0 auto;
  margin: 0 auto;
  background-color:  #29335C  !important;
}

.gridWrap {
  justify-content: space-evenly;
  margin-top: 0!important;
}

.ui.grid {
  margin-top: 0;
}


.header {
  background-color:  #29335C;
}


.birdContainer {
  display: grid;
  flex-basis: auto;
  background-color: #29335C;
  text-align: center;
  align-content: space-around;
  grid-template-areas: 
  "circleImage"
  "circleTitle";

}

.circleImage {
  grid-area: circleImage;
  margin-top: 20px;
  height: auto;
  width: 120px;
  border-radius: 50%;
}

.circleTitle {
  grid-area: circleTitle;
  font-size: 32px;
  color: white;
  padding-top: 1rem;
  padding-bottom: .7rem;
  text-align: center;
}


