@-ms-viewport{
  width: device-width;
  height: device-height;
}

*, ::after, ::before {
 box-sizing: unset !important;
  -webkit-box-sizing: unset !important;
}


#root {
  height: 100%;
  
}



body {
  padding: 0;
  margin: 0;
  background-color:  #29335C  !important;
  font-family: 'Baloo Bhai', cursive !important;
  
}


.gridWrap {
  justify-content: space-evenly;
  margin-top: 0!important;
}

.gridWrapUpper {
  margin-bottom: 110px;
  margin-top: 55px;
 
}

.birdProfileWrapper {
  align-content: center;
  text-align: center !important;
  justify-content:center;
}

.ui.grid {
  margin-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}



.birdProfileImage {
  height: auto !important;
  width: 515px !important;
}

.birdProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.birdProfileTitle {
  font-size: 42px;
  color: white;
  padding-top: 15px;
  padding-bottom: 20px;
}

.birdInfoBtnStyle {
  border-radius: 18px;
  width: 200px;
  background-color:#DB2B39 !important;
  flex-direction:row;
  justify-content:center;
  color: white !important;
  font-family: 'Baloo Bhai', cursive !important;
}

.pokaiBtnStyle {
  border-radius: 18px;
  width: 200px;
  background-color:rgb(17, 151, 51) !important;
  flex-direction:row;
  justify-content:center;
  color: white !important;
  font-family: 'Baloo Bhai', cursive !important;
  margin-bottom: 10px !important;
}

.pokaiBtnStyleFound {
  border-radius: 18px;
  width: 200px;
  background-color:#F0CEA050 !important;
  flex-direction:row;
  justify-content:center;
  color: #F3A712 !important;
  font-family: 'Baloo Bhai', cursive !important;
  margin-bottom: 10px !important;
}

.backBtnStyle {
  border-radius: 18px;
  width: 200px;
  background-color:#F3A712 !important;
  flex-direction:row;
  justify-content:center;
  color: white !important;
  font-family: 'Baloo Bhai', cursive !important;
  
}

.clearButton {
  border-radius: 18px;
  background-color:#F3A712 !important;
  flex-direction:row;
  justify-content:center;
  color: white !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  font-family: 'Baloo Bhai', cursive !important;
}

.footer {
  font-size: 1.5rem;
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
  font-family: 'Baloo Bhai', cursive !important;
  color: white;
  padding-top: 10px;
}

.iconInstructions {
  background-color:  #F3A712 !important;
  margin-left:20px;
  color: white !important;
 
  
}

.iconButton {
  padding: 0 !important;
  border:none;
}

.birdInfoWrapper {
  text-align: center;
  overflow-y: 'hidden'
}

.footerText {
  padding-left: 20px;
}
.birdInfoTextWrapper {
  margin-top: 6rem;
  color: white;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.birdInfoTextName{
  font-size: 44px;
  margin-bottom: 3rem;
  text-align: center;
}

.birdInfoTextInfo {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  white-space: pre-line;
}

.birdInfoTextStatus {
  font-size: 22px;
  line-height: 1.2;
  text-align: justify;
}

.ui.menu.centerHeader {
  font-size: 1.2rem;
  display:flex;
  padding: 0;
  margin: 0;
  flex-direction:row;
  justify-content:center;
  font-family: 'Baloo Bhai', cursive !important;
}

.birdInfoCard {
  margin-top: 30px;
  font-family: 'Baloo Bhai', cursive !important;
}

.birdContainer {
  display: grid;
  flex-basis: auto;
  background-color: #29335C;
  text-align: center;
  align-content: space-around;
  grid-template-areas: 
  "circleImage"
  "circleTitle";

}

.circleImage {
  grid-area: circleImage;
  margin-top: 20px;
  height: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.circleImageFound {
  opacity: 0.1;
  grid-area: circleImage;
  margin-top: 20px;
  height: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.circleTitle {
  grid-area: circleTitle;
  font-size: 1.5rem;
  color: white;
  padding-top: 1rem;
  padding-bottom: .7rem;
  text-align: center;
}

.instructions {
  color: aliceblue;
  text-align: center;
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
}

.instructionsWrap {
  margin-top: 4.5rem;
  text-align: center;
  
}

.notThreatened {
  color: #3A7913;
  text-align: center;
  font-size: 22px;
}

.threatened {
  color: #B22222;
  text-align: center;
  font-size: 22px;
}

.atRisk {
  color: #FF7605;
  text-align: center;
  font-size: 22px;
}