body {
  padding: 0 auto;
  margin: 0 auto;
}

img {
  height: auto;
  width: 120px;
  border-radius: 50%;
}

.birdcard {
  width: 150px !important;
}

/* .circleButton {
  width: 120px;
  height: 120px; 
  border-radius: 50%;
  overflow: hidden;
  text-align: center; 
  background-color: rgb(214, 5, 203);
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: 0px;
} */

/* button hover */
/* .circleButton:hover {
  mix-blend-mode: difference;
  color: green;
} 
*/
  

'
/* button press */
/* .circleButton:active


 {
   border-width;
} */
'